* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2e4482;
}



.land {
    position: absolute;
    top: 55%;
    height: 45%;
    width: 100%;
    background: #015501;
}

.road {
    position: absolute;
    top: 60%;
    height: 15%;
    width: 100%;
    background: #515151;
}

.moon {
    position: absolute;
    top: 6vh;
    right: 6vh;
    width: 10vh;
    min-height: 50px;
    min-width: 50px;
    height: 10vh;
    border-radius: 50%;
    background: #c9c9c9;
}


.bus {

    position: absolute;
    top: 50%;
    left: 30%;
}

.upper-part {
    position: absolute;
    background: lightgreen;
    left: 50px;
    width: 300px;
    height: 75px;
    bottom: -5px;
    border: 5px solid black;
    outline-offset: 5px;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
}

.front {
    position: absolute;
    width: 50px;
    height: 100px;
    background: lightgreen;
    border: 5px solid black;
    border-right: none;
    border-radius: 25px 0px 0px 25px;
}


.bottom {
    position: absolute;
    background: lightgreen;
    width: 300px;
    height: 100px;
    left: 50px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 0px 0px 25px 0px;
}

.front-wheel {
    position: absolute;
    top: 60px;
    left: 70px;
}

.back-wheel {
    position: absolute;
    top: 60px;

    left: 250px;
}

.wheel {
    background: #A3A3A3;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 15px solid black;
}